*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white:white;
    --gray:#4C516D;
    --black:rgb(36, 36, 36);
    --lightgray:rgb(221, 216, 216);
    --graysoft:rgb(143, 136, 136);
    --darkgray:rgb(96, 93, 93);
    --red:rgba(200, 15, 15, 0.864)
}
body{
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    overflow-x: hidden;
    min-height: 100vh;
    color: var(--black);
}
.header{
    width: 100%;
    background-color: var(--lightgray);
    height: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.visible{
    transform: translateY(0);
}
.hidden{
    transform: translateY(-100%);
}
.text-primary{
    font-size: 0.8em;
}
.link{
    color: var(--black);
    margin-left: 5px;
}
.container{
    margin-top: 60px;
    width: 100%;
    max-width: 1600px;
}
.container-fluid{
    width: 100%;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-fluid img{
    object-fit: cover;
    width: 150px;
}
.link-wrapper{
    display: flex;
    align-items: center;
    gap:10px;
    color: var(--black);
    text-decoration: none;
}
.section-fluid{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap:10px;
}
.container-hero{
    width: 100%;
    max-width: 1000px;
    padding: 1em;
    
}
.img-fluid, .img-second{
    width: 100%;
    height: auto;
}
.container-mt3{
    padding: 1em 2em;
    margin:0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap:10px;
}
.lead{
    text-align: center;
    font-size: 2.3em;
}
.text-secondary{
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 20px;
}
.text-ld{
    font-size: 1em;
    font-weight: 700;
}
.row{
    width: 100%;
    padding: 0 1em;
    display: flex;
    gap:15px;
    margin:10px auto;
}
.container-image{
    width: 100%;
    max-width: 50px;
    cursor: pointer;
    transition: outline-offset 0.3s ease-in-out;
}
.container-image img{
    width: 100%;
    object-fit: cover;
}
.active{
    outline: 1px solid var(--gray);
    border-radius: 50%;
    outline-offset: 10px;
}
.p-0{
    padding: 0;
}
.container-img{
    width: 100%;
    max-width: 35px;
    cursor: pointer;
}
.container-img img{
    width: 100%;
    object-fit: cover;
}
.column{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 20px;
}
.btn-primary{
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 0.9em;
    padding: 0.75em;
    border-radius: 7px;
    transition: background-color 0.3s ease-in-out;
}
.btn-primary.black{
    background-color: var(--gray);
}
.btn-primary.text-white{
    color: var(--white);
}
.white{
    background-color: var(--graysoft);
}
.btn-primary:hover{
    background-color: var(--red);
}
.checkbox-container{
    width: 100%;
    border:1px solid gainsboro;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 1em;
    margin-bottom: 15px;
}
.checkbox{
    width: 100%;
    display: flex;
    gap:10px;
}
.label{
    font-size: 0.9em;
    font-weight: 300;
}
.form-control{
    width: 15px;
}
.section-row{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap:5px;
    margin-bottom: 10px;
}
.price-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 20px;
}
.grey{
    background-color:var(--darkgray);
}
.btn-primary:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}
.container-mt2{
    border:1px solid var(--lightgray);
    border-radius: 6px;
    min-height: 50px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper{
    display: flex;
    gap:10px;
}
.span{
    font-size: 0.9em;
    font-weight: 500;
}
.list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.list li{
    font-size: 0.8em;
}
@media(max-width:800px)
{
    .row{
        padding: 0;
    }
}